---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import SocialIcons from '@/components/SocialIcons.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE, SOCIAL_LINKS } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects, getRecentPosts } from '@/lib/data-utils'
import locationIcon from '../../public/icons/location.svg?raw';

const posts = await getRecentPosts(SITE.featuredPostCount)
const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />

  <!-- User Profile Section -->
  <section class="mb-12">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8 items-center">
      <div class="md:col-span-1 flex justify-center">
        <img
          src="/static/me25_sq.jpeg"
          alt="Benjamín Rubio Orellana"
          class="rounded-full w-32 h-32 md:w-40 md:h-40 object-cover border"
        />
      </div>
      <div class="md:col-span-3">
        <h1 class="text-3xl font-bold mb-2">Benjamín Rubio Orellana</h1>
        <p class="text-muted-foreground mb-2">
          PhD Student @ Columbia University.
        </p>
        <div class="flex items-center text-muted-foreground mb-4">
          <div class="size-4 shrink-0">
            <Fragment set:html={locationIcon} />
          </div>
          <span class="ml-2">New York, NY, USA</span>
        </div>
        <SocialIcons links={SOCIAL_LINKS} />
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="mb-12">
    <div class="prose">
      <p>
        About. TODO
      </p>
    </div>
  </section>

  <!-- Projects Section -->
  <section class="flex flex-col gap-y-4 mb-12">
    <h2 class="text-2xl font-medium">Projects</h2>
    <ul class="flex flex-col gap-y-4">
      {
        projects.map((project) => (
          <li>
            <ProjectCard project={project} />
          </li>
        ))
      }
    </ul>
  </section>

  <!-- Latest Posts Section -->
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        posts.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
  
</Layout>
